@import '../../node_modules/grommet/scss/vanilla/index.scss';

body {
  background: $brand-color;
}

.sidebar-nav.hide {
  width: 0;
  padding: 0;
  transition: width .35s ease-out, padding .35s ease-out .1s;
  svg {
    opacity: 0;
  }
}

.sidebar-nav.show {
  width: 240px;
  transition: width .35s ease-out;
  svg {
    opacity: 1;
    transition: opacity .1s ease-out .2s;
  }
}

.grommetux-split__column {
  overflow-y:  hidden;
}
